<header>
    <div class="left-inner-header">
      <div class="logo">
        <video
          poster="../../../assets/logo.jpg"
          autoplay=""
          loop="1"
          playsinline="2"
        >
          <source src="../../../assets/logo.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="search">
          <i class="icon-seachsvg"><img width="25" height="25"  src="assets/icons8-search.svg" alt=""></i>
        <input type="text" placeholder="Search" />
        <button>search</button>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="/">Shop</a></li>
        <li><a href="/about">Read</a></li>
        <li><a href="/services">Login</a></li>
        <li><a href="/contact">Signup</a></li>
      </ul>
    </nav>
  </header>
  